*{
    font-family: "Roboto", sans-serif;
}
html{
    display: flex;
    justify-content: center;
}
body{
    margin: 0;
    width: 1440px;
    display: flex;
    flex-direction: column;
}
/* #region header */
.header{
    width: 1440px;
    display: flex;
    justify-content: center;
}
.header__container{
    margin-top: 24px;
    height: 70px;
    width: 1220px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0%;
}
.header__left{
    display: flex;
}
.nav__list{
    padding-top: 5px;
    padding-left: 0px;
    display: flex;
    gap: 33px;
    list-style: none;
}
.nav__item__veterinarians{
    width: 87px;
}
.nav__item__how-it-works{
    width: 88px;
}   
.nav__item__about-us{
    width: 59px;
} 
.nav__item__blog{
    width: 28px;
}
.nav__item__shop{
    width: 32px;
}

.header__logo{  
    width: 128px;
    padding-right: 65px;
}
.header__logo img{
    margin-top: 5px;
}

.header__right{
    display: flex;
    align-items: center;
    padding-right: 40px;
    gap: 15px;
}
.header__right button{
    width: 150px;
    height: 38px;
    border: none;
}
.button__log{
    color: #6F1EAA;
    background-color: transparent;
}
.button__log__text{
    position: relative;
    top: -2px;
    left: -5px;
}
.button__try{
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0%;
    background-color: #6F1EAA;
    border-radius: 19px;
}
/* #endregion */

/* region info */
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 651px;
    background-image: url(assets/images-bg/info-bg.png);
}
.info__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
}
.info__container__title{
    text-align: center;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0%;
}
.info__container__subtitle{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}
.info__container__link{
    color: #6F1EAA;
    text-decoration: none;
}
.info__container .button__try{
    margin-top: 12px;
    width: 156px;
    height: 48px;
    border: none;
    border-radius: 35px;
}
/* #endregion */

/* #region  veterinarians*/
.veterinarians{
    display: flex;
    justify-content: center;
}
.veterinarians__container{
    display: flex;  
    width: 1220px;
    border: 1px solid red;
}
.veterinarians__left{
    width: 70%;
}
.veterinarians__left__title{
    color: #000000;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    letter-spacing: 0%;
    margin-left: 40px;
    margin-top: 58px;
    margin-bottom: 25px;
}
.veterinarians__left__title__dog{
    margin-left: 140px;
}

.veterinarians__right{
    display: flex;
    flex-direction: column;
    width: 49%;
    padding: 37px;
    padding-left: 50px;
}
.patients .tailored-care .support{
    width: 166px;
}
.veterinarians__title{
    color: #6F1EAA;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.68px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
.patients__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    letter-spacing: 0%;
    margin-bottom: 17px;
}
hr{
    width: 466px;
    border-color: #F7A500;
}

.tailored-care{
    margin-bottom: 25px;
}
.tailored-care__text{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 22.72px;
    letter-spacing: 0%;
    margin-bottom: 0px;
}
.tailored-cate__post-scriptum{
    font-weight: 400;
    font-size: 15px;
    line-height: 22.72px;
    margin-top: 10px;
}

.veterinarians__text{
    font-weight: 400;
    font-size: 11px;
    line-height: 22.72px;
    letter-spacing: 0%;
}
/* #endregion */